@page
@model TicketApp.Pages.TicketFolder.AssignedTicketModel
@{
}
<form method="post">


    <table border="1" width="100%">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Description</th>
                <th>Assignee</th>
                <th>Closed Date</th>
            </tr>
        </thead>
        <tbody>


            @for (int i = 0; i < Model.TicketInputs.Count; i++)
            {
                <tr>
                    <td> @Model.TicketInputs[i].Subject</td>
                    <td> @Model.TicketInputs[i].Description</td>
                    <td> @Model.TicketInputs[i].EmployeeId</td>
                    <td> @Model.TicketInputs[i].CloseDate</td>
                    <td>
                        <button type="submit" asp-route-id="@Model.TicketInputs[i].Id" asp-page-handler="CloseTicket"> Close Ticket </button>
                    </td>

                    <td>
                        <button type="submit" asp-route-id="@Model.TicketInputs[i].Id" asp-page-handler="ReviewTicket"> Review Ticket </button>

                </tr>
            }



        </tbody>
    </table>

</form>